################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/standard/lib60870.NET.STANDARD/lib60870/obj
/standard/lib60870.NET.STANDARD/tests/lib60870-tests/obj
/tests/bin/Debug
/tests/obj
/standard/lib60870.NET.STANDARD/examples/cs104-tls-server/obj
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj/Release/netcoreapp2.0/cs104-tls-client.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj/Release/netcoreapp2.0/cs104-tls-client.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj/Debug/netcoreapp2.0/cs104-tls-client.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj/Debug/netcoreapp2.0/cs104-tls-client.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-tls-client/obj
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj/Release/netcoreapp2.0/cs104-server3.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj/Release/netcoreapp2.0/cs104-server3.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj/Debug/netcoreapp2.0/cs104-server3.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj/Debug/netcoreapp2.0/cs104-server3.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-server3/obj
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj/Release/netcoreapp2.0/cs104-server2.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj/Release/netcoreapp2.0/cs104-server2.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj/Debug/netcoreapp2.0/cs104-server2.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj/Debug/netcoreapp2.0/cs104-server2.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-server2/obj
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj/Release/netcoreapp2.0/cs104-server-file.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj/Release/netcoreapp2.0/cs104-server-file.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj/Debug/netcoreapp2.0/cs104-server-file.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj/Debug/netcoreapp2.0/cs104-server-file.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-server-file/obj
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj/Release/netcoreapp2.0/cs104-server.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj/Release/netcoreapp2.0/cs104-server.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj/Debug/netcoreapp2.0/cs104-server.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj/Debug/netcoreapp2.0/cs104-server.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-server/obj
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj/Release/netcoreapp2.0/cs104-redundancy-server.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj/Release/netcoreapp2.0/cs104-redundancy-server.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj/Debug/netcoreapp2.0/cs104-redundancy-server.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj/Debug/netcoreapp2.0/cs104-redundancy-server.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-redundancy-server/obj
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj/Release/netcoreapp2.0/cs104-multi-client-server.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj/Release/netcoreapp2.0/cs104-multi-client-server.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj/Debug/netcoreapp2.0/cs104-multi-client-server.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj/Debug/netcoreapp2.0/cs104-multi-client-server.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-multi-client-server/obj
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj/Release/netcoreapp2.0/cs104-client3.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj/Release/netcoreapp2.0/cs104-client3.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj/Debug/netcoreapp2.0/cs104-client3.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj/Debug/netcoreapp2.0/cs104-client3.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-client3/obj
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj/Release/netcoreapp2.0/cs104-client2.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj/Release/netcoreapp2.0/cs104-client2.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj/Debug/netcoreapp2.0/cs104-client2.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj/Debug/netcoreapp2.0/cs104-client2.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-client2/obj
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj/Release/netcoreapp2.0/cs104-client1.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj/Release/netcoreapp2.0/cs104-client1.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj/Debug/netcoreapp2.0/cs104-client1.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj/Debug/netcoreapp2.0/cs104-client1.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-client1/obj
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj/Release/netcoreapp2.0/cs104-client-file-upload.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj/Release/netcoreapp2.0/cs104-client-file-upload.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj/Debug/netcoreapp2.0/cs104-client-file-upload.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj/Debug/netcoreapp2.0/cs104-client-file-upload.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs104-client-file-upload/obj
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj/Release/netcoreapp2.0/cs101-slave-unbalanced.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj/Release/netcoreapp2.0/cs101-slave-unbalanced.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj/Debug/netcoreapp2.0/cs101-slave-unbalanced.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj/Debug/netcoreapp2.0/cs101-slave-unbalanced.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs101-slave-unbalanced/obj
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj/Release/netcoreapp2.0/cs101-slave-tcp.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj/Release/netcoreapp2.0/cs101-slave-tcp.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj/Debug/netcoreapp2.0/cs101-slave-tcp.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj/Debug/netcoreapp2.0/cs101-slave-tcp.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs101-slave-tcp/obj
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj/Release/netcoreapp2.0/cs101-slave-balanced.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj/Release/netcoreapp2.0/cs101-slave-balanced.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj/Release/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj/Debug/netcoreapp2.0/cs101-slave-balanced.AssemblyInfoInputs.cache
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj/Debug/netcoreapp2.0/cs101-slave-balanced.AssemblyInfo.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj/Debug/netcoreapp2.0
/standard/lib60870.NET.STANDARD/examples/cs101-slave-balanced/obj
/standard/lib60870.NET.STANDARD/examples/cs101-master-unbalanced/obj
/standard/lib60870.NET.STANDARD/examples/cs101-master-tcp/obj
/standard/lib60870.NET.STANDARD/examples/cs101-master-balanced/obj
/lib60870/bin/Debug
/lib60870/obj
/examples/cs101-master-balanced/obj/x86
/examples/cs101-master-tcp/obj/x86
/examples/cs101-master-unbalanced/obj/x86
/examples/cs104-tls-server/bin/Debug
/examples/cs101-slave-balanced/obj/x86
/examples/cs101-slave-tcp/obj/x86
/examples/cs104-client1/obj/x86
/examples/cs104-client-file-upload/obj/x86
/examples/cs101-slave-unbalanced/obj/x86
/examples/cs104-tls-server/obj/x86
/examples/cs104-tls-client/obj/x86
/examples/cs104-server3/obj/x86
/examples/cs104-server2/obj/x86
/examples/cs104-server-file/obj/x86
/examples/cs104-server/obj/x86
/examples/cs104-redundancy-server/obj/x86
/examples/cs104-multi-client-server/obj/x86
/examples/cs104-client3/obj/x86
/examples/cs104-client2/obj/x86
/.vs
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj/Release/netstandard2.0/lib60870.NET.CORE.2.0.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj/Release/netstandard2.0/lib60870.NET.CORE.2.0.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj/Release/netstandard2.0
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj/Debug/netstandard2.0/lib60870.NET.CORE.2.0.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj/Debug/netstandard2.0/lib60870.NET.CORE.2.0.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj/Debug/netstandard2.0
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj/Release/netcoreapp2.0/cs104-tls-server.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj/Release/netcoreapp2.0/cs104-tls-server.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj/Release/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj/Debug/netcoreapp2.0/cs104-tls-server.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj/Debug/netcoreapp2.0/cs104-tls-server.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj/Release/netcoreapp2.0/cs104-tls-client.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj/Release/netcoreapp2.0/cs104-tls-client.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj/Release/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj/Debug/netcoreapp2.0/cs104-tls-client.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj/Debug/netcoreapp2.0/cs104-tls-client.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj/Release/netcoreapp2.0/cs104-server3.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj/Release/netcoreapp2.0/cs104-server3.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj/Release/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj/Debug/netcoreapp2.0/cs104-server3.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj/Debug/netcoreapp2.0/cs104-server3.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj/Release/netcoreapp2.0/cs104-server2.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj/Release/netcoreapp2.0/cs104-server2.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj/Release/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj/Debug/netcoreapp2.0/cs104-server2.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj/Debug/netcoreapp2.0/cs104-server2.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj/Release/netcoreapp2.0/cs104-server-file.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj/Release/netcoreapp2.0/cs104-server-file.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj/Release/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj/Debug/netcoreapp2.0/cs104-server-file.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj/Debug/netcoreapp2.0/cs104-server-file.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj/Release/netcoreapp2.0/cs104-server.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj/Release/netcoreapp2.0/cs104-server.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj/Release/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj/Debug/netcoreapp2.0/cs104-server.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj/Debug/netcoreapp2.0/cs104-server.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj/Release/netcoreapp2.0/cs104-multi-client-server.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj/Release/netcoreapp2.0/cs104-multi-client-server.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj/Release/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj/Debug/netcoreapp2.0/cs104-multi-client-server.AssemblyInfoInputs.cache
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj/Debug/netcoreapp2.0/cs104-multi-client-server.AssemblyInfo.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-client3/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-client2/obj
/core/2.0/lib60870.NET.CORE.2.0/cs104-client1/obj
/core/2.0/lib60870.NET.CORE.2.0/.vs/lib60870.NET.CORE.2.0
/core/2.0/lib60870.NET.CORE.2.0/lib60870.NET.CORE.2.0/bin/Debug/netstandard2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-server/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-tls-client/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server3/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server2/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server-file/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-server/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-multi-client-server/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-client3/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-client2/bin/Debug/netcoreapp2.0
/core/2.0/lib60870.NET.CORE.2.0/cs104-client1/bin/Debug/netcoreapp2.0
/examples/cs101-master-balanced/bin/Debug
/examples/cs104-server3/bin/Debug
/standard/lib60870.NET.STANDARD
